/vendor
/node_modules
/public/build
/public/hot

.env
.env.backup
.env.production

/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

/bootstrap/cache/*

.DS_Store
Thumbs.db

.vscode/*
!.vscode/extensions.json

.idea

npm-debug.log
yarn-error.log