/* 作業スペース */
.canvas-wrapper {
    flex: 1;

    overflow-y: auto;
    overflow-x: auto;

    padding: 0 16px 16px 16px;

    background: linear-gradient(
        340deg,
        #f7fbff,
        #fff8f5
    );
}

/* 実際のページ */
.canvas {
    width: 100%;
    max-width: 1200px;

    min-height: calc(100vh - 140px);

    margin: 0 auto;

    padding: 16px;

    background: #ffffff;

    border-radius: 20px;

    box-shadow:
        0 12px 30px rgba(0, 0, 0, 0.08);

    box-sizing: border-box;
}

.canvas-floating-tools {
    position: sticky;

    top: 16px;

    z-index: 20;

    display: flex;
    gap: 8px;

    margin-bottom: 16px;
}

.canvas-action-button {
    width: 42px;
    height: 42px;

    border-radius: 999px;

    border: 1px solid #000;

    background: transparent;

    backdrop-filter: blur(8px);

    cursor: pointer;

    font-size: 18px;

    transition: all 0.2s;
}

.canvas-action-button:hover {
    transform: translateY(-2px);

    box-shadow:
        0 8px 20px rgba(0,0,0,0.08);
}